.filter-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid var(--color-text-secondary);
    border-radius: 5px;
    gap: 10px;
}

.filter-box h3 {
    margin-top: 0;
    color: var(--color-accent);
}

.filter-box-checkbox-group input[type="checkbox"] {
    accent-color: var(--color-accent);
}

.filter-box-checkbox-group label:has(input:checked) {
    color: var(--color-accent);
}

.filter-box-checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-box-checkbox-group label {
    display: flex;
    align-items: center;
}

.filter-box-checkbox-group input {
    margin-right: 10px;
}

.grid-cols-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid-toggle-button, .print-button, .share-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 75px;
    width: 220px;
    background-color: var(--color-bg-secondary);
    color: var(--color-text-secondary);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    transition: background-color 0.2s, border-color 0.2s;
    white-space: nowrap; /* Prevent text wrapping */
}

.grid-toggle-button:hover, .print-button:hover, .share-button:hover {
    background-color: var(--color-bg-hover);
    border-color: var(--color-accent);
}
