/* --- Filters (Checkboxes & Buttons) --- */
.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 700px;
    margin-bottom: 15px;
    gap: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.7s ease-in-out, visibility 0.7s ease-in-out;
}

.filters-container.visible {
    opacity: 1;
    visibility: visible;
}

.checkbox-group {
    display: flex;
    gap: 20px;
    color: #ccc;
    flex-grow: 1;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: color 0.2s;
}

.checkbox-label.disabled {
    color: #666;
    cursor: not-allowed;
}


.checkbox-label input[type="checkbox"] {
    accent-color: #646cff;
    width: 16px;
    height: 16px;
}

.filter-buttons-group {
    display: flex;
    gap: 10px;
    flex-shrink: 0;
}

.sort-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 15px;
    background-color: #2d2d2d;
    color: #ccc;
    border: 1px solid #444;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    transition: background-color 0.2s, border-color 0.2s;
    white-space: nowrap; /* Prevent text wrapping */
}

.sort-button:hover {
    background-color: #3c3c3c;
    border-color: #646cff;
}
