/* --- Header Section --- */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    text-align: center;
}

@media (max-width: 768px) {
    .header-container {
        padding-top: 20px; /* Add padding for mobile devices */
    }
}

.title-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.1;
    color: white;
    transition: color 0.2s;
}

.title-button:hover .title {
    color: #BA0C2F;
}

.title .title-mobile {
    display: none;
}

.titleSubtext {
    font-size: 1rem;
    color: lightgray;
    margin: 0;
    margin-top: 5px;
}

.emphasized-word {
    font-weight: bold;
    color: white; /* Or any other color you want for emphasis */
}

.emphasized-header-word {
    color: #BA0C2F; /* A different color for emphasis in the main header */
    font-weight: bold;
}

/* Animation for header text change */
.header-fade-in {
    animation: headerFadeIn 0.5s ease-in-out forwards;
}

.header-fade-out {
    animation: headerFadeOut 0.25s ease-in-out forwards;
}

@keyframes headerFadeIn {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes headerFadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}
