.kofi-button {
    position: fixed;
    bottom: 20px;
    z-index: 100;
    transition: right 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.kofi-button .kofi-full-image {
    height: 50px;
    width: auto;
    display: block; /* Show by default */
}

.kofi-button .kofi-symbol-image {
    height: 50px;
    width: auto;
    display: none; /* Hidden by default */
}

/* Desktop styles (min-width: 769px) */
@media (min-width: 769px) {
    .kofi-button {
        right: 20px;
    }
    .kofi-button.scroll-visible {
        right: 85px;
    }

    .kofi-button.missing-card-visible {
        right: 160px;
    }

    .kofi-button.scroll-visible.missing-card-visible {
        right: 220px;
    }
}

/* Mobile styles (max-width: 768px) */
@media (max-width: 768px) {
    .kofi-button {
        right: 20px;
    }
    .kofi-button .kofi-full-image {
        display: none;
    }
    .kofi-button .kofi-symbol-image {
        display: block;
    }

    .kofi-button.missing-card-visible {
        right: 80px;
    }

    .kofi-button.scroll-visible.missing-card-visible {
        right: 140px;
    }
}